In [30]:
#Colab
#from google.colab import drive
#drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
df = pd.read_csv('./ai4i2020.csv')

In [3]:
df.head()e

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [4]:
from sklearn.preprocessing import OrdinalEncoder
type_cat = df[['Type']]
type_cat

     Type
0       M
1       L
2       L
3       L
4       L
...   ...
9995    M
9996    H
9997    M
9998    H
9999    M

[10000 rows x 1 columns]

In [5]:
od = OrdinalEncoder(categories=[['L','M','H']])
type_cat_encoded = od.fit_transform(type_cat)
od.categories_

[array(['L', 'M', 'H'], dtype=object)]

In [6]:
type_cat_encoded

array([[1.],
       [0.],
       [0.],
       ...,
       [1.],
       [2.],
       [1.]])

In [7]:
df['Type_Encoded'] = type_cat_encoded
df

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF,Type_Encoded
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,1.0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,0.0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,0.0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,0.0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0,1.0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0,2.0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0,1.0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0,2.0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0,1.0

In [38]:
drop_col = ['Product ID','Type','UDI', 'TWF', 'HDF', 'OSF', 'RNF']
df = df.drop(columns=drop_col)
df

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,PWF,Type_Encoded
0,298.1,308.6,1551,42.8,0,0,0,1.0
1,298.2,308.7,1408,46.3,3,0,0,0.0
2,298.1,308.5,1498,49.4,5,0,0,0.0
3,298.2,308.6,1433,39.5,7,0,0,0.0
4,298.2,308.7,1408,40.0,9,0,0,0.0
...,...,...,...,...,...,...,...,...
9995,298.8,308.4,1604,29.5,14,0,0,1.0
9996,298.9,308.4,1632,31.8,17,0,0,2.0
9997,299.0,308.6,1645,33.4,22,0,0,1.0
9998,299.0,308.7,1408,48.5,25,0,0,2.0
9999,299.0,308.7,1500,40.2,30,0,0,1.0